.tags {
	list-style: none;
	padding: unset;

	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
	margin-top: spacing(xl);
	margin-bottom: unset;

	@include media-breakpoint-down(lg) {
		margin-top: spacing(lg);
	}
}

.tag {
	border: 2px solid var(--tag-color);
	color: var(--tag-color);
	background-color: $bg-primary-d-2;
	padding: 5px 16px;
	border-radius: radius(md);
	font-weight: 700;

	&::selection {
		background-color: var(--tag-color);
		color: $bg-primary-d-2;
	}
}

.link {
	margin-top: spacing(lg);
}
