.standard-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100%; //big one
	padding: cgap(xxl);
	background-color: var(--bg-primary);
	overflow: auto;

	@include media-breakpoint-down(xxl) {
		padding: cgap(xl);
	}

	@include media-breakpoint-down(md) {
		padding: cgap(lg);
	}

	.back-btn {
		margin-bottom: cgap(lg);
		margin-right: auto;
	}
}
