.split-content {
	height: 100%;

	display: grid;
	--split-content-columns: 1.3fr 1fr;
	grid-template-columns: var(--split-content-columns);
	grid-template-rows: 100%;

	background-color: $bg-primary;
	color: $color-primary;

	&--evenly-sized {
		--split-content-columns: 1fr 1fr;
	}

	&--enlarge-first {
		--split-content-columns: 1.3fr 1fr;
	}

	&--enlarge-second {
		--split-content-columns: 1fr 1.3fr;
	}

	@include media-breakpoint-down(lg) {
		--split-content-columns: 100%;
		grid-template-rows: max-content;
	}

	&__btn {
		margin-bottom: spacing(xl);
		margin-right: auto;

		@include media-breakpoint-down(lg) {
			margin-bottom: spacing(lg);
		}
	}
}

.first {
	display: flex;
	flex-direction: column;

	overflow-y: auto;
	padding: spacing(xxxl);

	@include media-breakpoint-down(xxl) {
		padding: spacing(xxl);
	}

	@include media-breakpoint-down(lg) {
		overflow-y: unset;
	}

	@include media-breakpoint-down(md) {
		padding: spacing(lg);
	}

	&__content {
		//TODO: flex might not be preferred here
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		flex-grow: 1;
	}
}

.second {
	display: flex;
	align-items: center;
	overflow: hidden;

	@include media-breakpoint-down(lg) {
		overflow: unset;
	}

	&--image {
		max-height: 100%;

		@include media-breakpoint-down(lg) {
			align-items: unset;
		}

		:deep(picture) {
			min-width: 100%;
			height: 100%;
		}

		:deep(img) {
			min-width: 100%;
			min-height: 100%;
		}
	}

	&--swiper {
		position: relative;
		background-color: white;
		color: $bg-secondary;
		padding: spacing(md) 0;

		@include media-breakpoint-down(lg) {
			padding: spacing(xxl) 0;
		}

		@include media-breakpoint-down(md) {
			padding: spacing(lg) 0;
		}

		:deep(.swiper) {
			flex-grow: 1; //when only 1 slide left
			height: 60%;
			overflow-y: auto; //v short viewport -> allows atleast vertical scrolling

			@include media-breakpoint-down(xxl) {
				height: 70%;
			}

			@include media-breakpoint-down(xl) {
				height: 80%;
			}

			@include media-breakpoint-down(lg) {
				height: 100%;
			}

			.swiper-slide {
				min-height: 200px;
			}
		}
	}
}
