.product {
	$s: &;

	@media (pointer: fine) {
		&:hover,
		&:focus-visible {
			#{$s}__overlay {
				filter: opacity(1);
			}
		}
	}

	@media (pointer: coarse) {
		&.swiper-slide-active {
			#{$s}__overlay {
				filter: opacity(1);
			}
		}
	}

	&__overlay {
		position: absolute;
		inset: 0;

		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: spacing(lg);
		background-color: rgba($bg-primary-d-2, 0.9);
		color: $color-primary;

		filter: opacity(0);
		transition: filter anim();

		@include media-breakpoint-down(xl) {
			padding: spacing(md);
		}

		hgroup {
			margin-bottom: unset;
		}
	}
}
