.social-link-icons {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: unset;
	margin: unset;

	margin-top: spacing(lg);
	gap: spacing(sm);
}

.social-link-icon {
	padding: 4px 48px;
	border-radius: radius(xs);
	flex-grow: 1;
	min-width: 200px;

	filter: brightness(1);

	@include hover-active-swap-focus-visible {
		filter: brightness(1.25);
	}

	@include media-breakpoint-down(md) {
		flex-basis: 100%;
	}

	img {
		height: 48px;
	}
}
